*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
.banner{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.599), rgba(0, 0, 0, 0.354)), url(images/donation5.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height:400px;
}

.banner-description{
    text-align: center;
    margin-bottom: 100px;
    color:white;
    position:absolute;
    top:15%;
    left:25%;
}

.ancor-button-design{
    color:white;
    background-color:orangered;
    padding: 10px 30px;
    text-decoration: none;
    border-radius:5px;
    font-weight:700px;

}


.heading{
    text-align: center;
    font-size:40px;
    
}
.para{
    font-size:17px;
    text-align: center;
    justify-content: center;
}

.second-heading{
    text-align: center;
}
.second-section-item{
    width:120px;
    height:100px;
    background-color: rgb(120, 126, 120);
    text-align: center;
    padding: 10px;
    color:black;
    border-radius:10px;
    
    
}
.border{
    border:2px solid red;
    background-color: #f5f1d9;
}

.second-section-item h3{
    margin-top:30px;
    
}

.second-section{
    display: flex;
    justify-content:space-evenly;
    width:50%;
    margin-top:80px;
    margin-left:320px;
    margin-bottom: 70px;
  
}
.input{
    text-align: center;
    font-size: 18px;
    width:45%;
    border:none;
    border-bottom: 1px solid gray;
   
}
.amount{
    text-align: center;
}





.card{
    width: 30%;
    height: 340px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 50px 30px 30px 50px;
    margin-right: 5%;
    margin-left: 5%;
    
}

.card1{
    background-color: #FF5959;
    box-shadow:10px 10px 30px gray;
}
.card2{
    background-color: green;
    box-shadow:10px 10px 30px gray;
}
.card3{
    background-color: blueviolet;
    box-shadow:10px 10px 20px gray;
}


.card-item{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.section3{
    margin-top:100px;
    display: flex;
    justify-content: space-evenly;
}
.donate-image{
    width:90%;
}
.description{
    text-align: center;
    width:70%;
    padding: 20px;;
}

.donating{
    display: flex;
    justify-content: space-evenly;
}

.donating-item{
    width:30%;
    margin: 100px 20px 50px 100px;
}

.donate-img{
    width:40%;
}


.section5{
    
    margin-left:380px;
    text-align: center;
    background-color:#FBF9AF;
    width:50%;
    height:130px;
    padding:30px;
    margin-top:100px;
    border-radius:5px;
}
#email-input{
    width:40%;
    height:40px;
    border:none;
    padding: 10px 30px;
    margin-top:18px;
    border-radius:5px;
    

}

.footer{
    margin-top:100px;
    background-color:black;
    padding:30px;
    color:#fff;
}
.style{
    color:#FF5959;
}